{{ define "dir" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Path }}</title>
</head>

<body>
    <h1 id="title">{{ .Path }}</h1>
    <ul>
      <li>
        <a href="../">../</a>
      </li>
      {{- $path := .Path -}}
      {{ range .Entries }}
        {{- $info := .Info -}}
        {{- if not (hasPrefix .Name "." ) }}
        <li>
          <a href="/{{ filepathJoin $path .Name }}">
            {{- .Name -}} {{- if $info.IsDir -}}
            <span>/</span>
            {{- end -}}
          </a>
        </li>
        {{- end -}} {{- end }}
    </ul>  
</body>

</html>
{{ end }}